.sidebar {
    height: 100%;
    background: #f6f6fb; /* dark modern */
    color: #fff;
    width: 220px;
    transition: width 0.3s;
    overflow: hidden;
}


.sidebar-brand {
    font-size: 1.2rem;
    color: #000;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
    user-select: none;
}


.nav-link {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #000;
    border-radius: 10px;
    padding: 10px 14px;
    transition: all 0.2s ease;
    cursor: pointer;
}


.nav-link i {
    font-size: 1.2rem;
}


.nav-link:hover {
    background: #1e293b;
    color: #fff;
}


.nav-link.active {
    background: #2563eb;
    color: #fff;
}

.sidebar.collapsed {
  width: 70px;
}

.sidebar.collapsed span {
  display: none;
}