.sidebar {
    width: 100%;
    height: 100%;
    background: #f6f6fb; /* dark modern */
    color: #fff;
}


.sidebar-brand {
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}


.nav-link {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #000;
    border-radius: 10px;
    padding: 10px 14px;
    transition: all 0.2s ease;
    cursor: pointer;
}


.nav-link i {
    font-size: 1.2rem;
}


.nav-link:hover {
    background: #1e293b;
    color: #fff;
}


.nav-link.active {
    background: #2563eb;
    color: #fff;
}