.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img {
    display: block;
    width: 50px;
    padding: 10px;
    border-radius: 50%;
}
.search {
    padding: 6px;
    background-color: #f6f6fb;
    border-radius: 6px;
    outline: none;
    border: none;
}