<app-navbar (toggleSidebar)="sidebar.toggleSidebar()"></app-navbar>

<div class="container-fluid px-0" [attr.dir]="direction">
  <div class="row g-0 main" [class.flex-row-reverse]="direction === 'rtl'">

    <!-- Sidebar -->
    <div
      [class.col-4]="!isSidebarCollapsed"
      [class.col-lg-3]="!isSidebarCollapsed"
      [class.col-xl-2]="!isSidebarCollapsed"
      [class.col-1]="isSidebarCollapsed"
      [class.order-last]="direction === 'rtl'"
    >
      <app-sidebar #sidebar
                   [isCollapsed]="isSidebarCollapsed"
                   [direction]="direction"
                   (collapsedChange)="onSidebarToggle($event)">
      </app-sidebar>
    </div>

    <!-- Main Content -->
    <main
      class="py-4"
      [ngClass]="{
        'ps-3 pe-5': direction === 'ltr',
        'pe-3 ps-5': direction === 'rtl',
        'col-8 col-lg-9 col-xl-10': !isSidebarCollapsed,
        'col-11': isSidebarCollapsed
      }"
    >
      <router-outlet></router-outlet>
    </main>

  </div>
</div>

<app-footer></app-footer>
