<div class="d-md-flex justify-content-between align-items-center mb-4">
  <div>
    <h4 class="fw-bold mb-1">{{ 'ANALYTICS.TITLE' | translate }}</h4>
  </div>

  <span class="badge bg-primary-subtle text-primary px-3 py-2">
    {{ 'ANALYTICS.LAST_30_DAYS' | translate }}
  </span>
</div>

<div class="row g-3 mb-4">

  <div class="col-md-6" *ngFor="let card of analyticsCards">
    <div class="card shadow-sm border-0">
      <div class="card-body d-flex justify-content-between align-items-center">
        <div>
          <small class="text-muted">{{ card.labelKey | translate }}</small>
          <h4 class="fw-bold mb-0">{{ card.value }}</h4>
        </div>
        <i class="bi {{ card.icon }} fs-2" [ngClass]="card.color"></i>
      </div>
    </div>
  </div>

</div>

<div class="row g-4 mb-4">

  <div class="col-md-8">
    <div class="card shadow-sm border-0 h-100">
      <div class="card-header bg-white fw-semibold">
        {{ 'ANALYTICS.REVENUE_ORDERS_TREND' | translate }}
      </div>
      <div class="card-body d-flex align-items-center justify-content-center text-muted">
        {{ 'ANALYTICS.LINE_CHART_PLACEHOLDER' | translate }}
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card shadow-sm border-0 h-100">
      <div class="card-header bg-white fw-semibold">
        {{ 'ANALYTICS.TRAFFIC_SOURCES' | translate }}
      </div>
      <div class="card-body d-flex align-items-center justify-content-center text-muted">
        {{ 'ANALYTICS.PIE_CHART_PLACEHOLDER' | translate }}
      </div>
    </div>
  </div>

</div>

<div class="row g-3 mb-4 catego">

  <div class="col-md-4" *ngFor="let link of analyticsLinks">
    <a [routerLink]="link.link" class="text-decoration-none">
      <div class="card shadow-sm border-0 hover-card">
        <div class="card-body d-flex align-items-center gap-3">
          <i class="bi {{ link.icon }} fs-2" [ngClass]="link.color"></i>
          <div>
            <h6 class="fw-bold mb-1">{{ link.titleKey | translate }}</h6>
            <small class="text-muted">{{ link.subtitleKey | translate }}</small>
          </div>
        </div>
      </div>
    </a>
  </div>

</div>

<div class="card shadow-sm border-0">
  <div class="card-header bg-white fw-semibold">
    {{ 'ANALYTICS.KEY_INSIGHTS' | translate }}
  </div>

  <ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor="let insight of insights">
      {{ insight | translate }}
    </li>
  </ul>
</div>
